@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  font-family: "Roboto";
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.container
{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100vh;

  >button
  {
    margin-top: 15px;
    width: 180px;
    height: 50px;

    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
  }
}

.counterSection
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardContainer
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 25px;
}


.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
}



.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  border-radius: 15px;
}

.flip-card-front {
  background: linear-gradient(90deg,rgba(51, 255, 0, 1) 0%, rgb(39, 255, 46) 35%, rgba(217, 249, 255, 1) 100%);
  color: black;

  padding: 15px;
}

.flip-card-back {
  background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  color: white;
  transform: rotateY(180deg);

  padding: 15px;

  display: flex;
  flex-direction: column;

  gap: 25px;

  >.buttonContainer
  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

    >div
    {
      cursor: pointer;
    }

    .button1
    {
      border: 2px solid green;
      color: black;
      background: radial-gradient(circle,rgba(86, 250, 77, 1) 0%, rgba(0, 140, 100, 1) 100%);
      width: 100px;
      height: 80px;
      padding: 10px;
      border-radius: 15px;
      font-size: 0.8rem;

      >i
      {
        margin-top: 8px;
        color: black;
        font-size: 2rem;
      }
    }

    >.button2
    {
      border: 2px solid red;
      color: black;
      background: radial-gradient(circle,rgba(255, 61, 61, 1) 0%, rgba(140, 0, 0, 1) 100%);
      width: 100px;
      height: 80px;
      padding: 10px;
      border-radius: 15px;
      font-size: 0.8rem;

      >i
      {
        color: black;
        font-size: 2rem;
        margin-top: 8px;
      }
    }
  }
 
}


.addCardContainer
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 20px;

  >.mainDiv
  {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    background-color: white;
    border: none;
    border-radius: 15px;
    height: 330px;
    width: 750px;

    gap: 25px;
    padding: 15px;

    .secContainer
    {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      gap: 70px;

      >section
      {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        >textarea
        {
          height: 200px;
          width: 300px;
        }
      }
    }
  }

  .addBtn
  {
    background: rgb(40, 197, 40);
    color: white;
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.6rem;
    border-radius: 20px;
    cursor: pointer;
  }

}